.bgcolor{
    background: #F9F5F2;
    padding-top: 50px;
.signup{
    width: 80%;
    margin: 0 auto;
    .content_part{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button_wrapper{
     display: flex;
     align-items: center;
     justify-content: center;
    //  flex-direction: column; 
     margin: 40px 0;

     button{
        background: #126F85;
        padding: 10px 0;
border-radius: 5px;
        color: #fff;
        border: none;
        outline: none;
        width: 10%;
        margin-right: 20px;
        font-weight: 600;
font-size: 16px;
line-height: 19px;
        a{
            text-decoration: none;
            color: #fff;
            font-weight: 400;
font-size: 16px;
line-height: 19px;
        }
     }  
    }
}
}
